# for Mac
.DS_Store

# for Autoenv
.env

# for IDE setting files
.idea/

# Python cache files
__pycache__

# log files
*.log

# Database
db.sqlite3

# Migration
migrations/

# Coverage files
.coverage
coverage.xml
